+++
title = "Probr"
linkTitle = "Probr"
+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
    <div class="mx-auto">
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        </a>
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/releases">
            Releases <i class="fab fa-github ml-2 "></i>
        </a>
        <p class="lead mt-4">Your compliance validation toolbox.</p>
        <div class="mx-auto mt-5">
        {{< blocks/link-down color="light-secondary" >}}
        </div>
    </div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<h2>What is Probr?</h2>

An open-source automated testing framework for an ecosystem of community-driven test packs 
to prove compliance validation in the cloud, on-prem, pre-prod and prod environments alike.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-wrench" title="Validate any Resource" url="./docs/guides/sdk/" %}}
Using the Probr SDK, service packs can be built to target any resource, test against any standard, and integrate with other service packs for a seamless runtime!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chart-area" title="Logs and Summaries" url="./docs/guides/output/" %}}
Every service pack can produce harmonized runtime logs and summaries in JSON format, in addition to Cucumber output that is ready to be transformed into beautiful visuals!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-laptop-code" title="Build and Harness" url="./docs/getting-started/" %}}
Build your own compliance validation pack, or harness a service pack that the community has already built.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://join.slack.com/t/probrworkspace/shared_invite/zt-y5o006h0-Rx74IJz2mk1S_4Tbk3Hs3Q" url_text="Join us" %}}
Join the community on Slack
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/probr" url_text="Contribute to Probr" %}}
We follow the [Pull Request](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests) contributions workflow on **GitHub**.

New contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/citihub" url_text="Follow us" %}}
To get announcements and learn more about our team, related projects, and more.
{{% /blocks/feature %}}

{{< /blocks/section >}}
